<div ng-controller="SearchListController as searchListCtrl" class="search-results">
  <form ng-submit="getDefinitions()">
    <div class="form-group search-form">
      <div class="input-group">
          <input type="text" class="form-control" ng-model="searchTerm" placeholder="Search definitions" required/>
          <div class="input-group-addon" ng-click="getDefinitions()"><i class="glyphicon glyphicon-search"></i></div>
        </div>
    </div>
  </form>
  <div ng-show="searchTerm">
    <p ng-show="term.result_type == 'no_results'" class="text-center bg-danger">There are no results to display. Please re-enter word.</p>
    <ul class="row">
      <li class="col-sm-6 col-md-8">
        <h4 ng-show="term.result_type == 'exact'">Definitions</h4>
        <ul ng-repeat="t in term.list" class="definitions">
            <li>
              <blockquote>
                <p>{{t.definition}}</p>
                <footer>Author : <cite>{{t.author}}</cite></footer>
              </blockquote>
          </li>         
        </ul>     
      </li>
      <li class="col-sm-6 col-md-4">
        <h4 ng-show="term.result_type == 'exact'">Tags</h4>
        <ul class="tags">
          <li ng-repeat="tag in term.tags"> {{tag}} </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
