<div ng-controller="SearchListController as searchListCtrl" class="search-results">
  <form ng-submit="getDefinitions()">
    <div class="form-group search-form">
      <div class="input-group">
          <input type="text" class="form-control" ng-model="searchTerm" placeholder="Search definitions" required/>
          <div class="input-group-addon" ng-click="getDefinitions()"><i class="glyphicon glyphicon-search"></i></div>
        </div>
    </div>
  </form>
  <div ng-show="searchTerm">
    <p ng-show="term.result_type == 'no_results'" class="text-center bg-danger">There are no results to display. Please re-enter word.</p>
    <ul class="row">
      <li class="col-sm-6 col-md-8">
        <h4 ng-show="term.result_type == 'exact'"><span class="glyphicon glyphicon-list-alt"></span> Definitions</h4>
        <ul ng-repeat="t in term.list" class="definitions">
            <li>
              <blockquote>
                <p>{{t.definition}}</p>
                <footer>Author : <cite>{{t.author}}</cite></footer>
              </blockquote>
          </li>         
        </ul>     
      </li>
      <li class="col-sm-6 col-md-4">
        <h4 ng-show="term.result_type == 'exact'"><span class="glyphicon glyphicon-tags"></span> Tags</h4>
        <ul class="tags">
          <li ng-repeat="tag in term.tags" ng-click="searchTag(tag)"> <a href><span class="glyphicon glyphicon-tag"></span> {{tag}} </a> </li>
        </ul>
        <div ng-show="term.result_type == 'exact'">
          <h4>Recent Searches</h4>
          <ul class="recent-search tags">
            <li ng-repeat="bookmark in bookmarks track by $index" ng-click="searchTag(bookmark)"><a href><span class="glyphicon glyphicon-ok-circle"></span> {{bookmark}}</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
